<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner/banner_img.jpg' %>);">
  <div class="container">
    <h1>Mr. Cocktail</h1>
    <p>Keep your cocktails recipes in safe place.</p>
    <%= link_to "Let's start", cocktails_path, class: "btn btn-primary" %>
  </div>
</div>
