<h1>Cocktails</h1>
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.submit 'Add', class: "btn btn-primary" %>
  <%= link_to 'Cancel', cocktails_path, class: "btn btn-outline-danger" %>
<% end %>
