  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between mb-3">
  <%= link_to icon('fas','cocktail') + " Mr. Cocktail", "/", class: "navbar-brand mb-0 h1 text-primary title-font" %>
  <%= link_to 'Back to list', cocktails_path, class: "btn btn-outline-primary my-2 my-sm-0"  %>
</nav>
